<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<style>
#effect, .square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.blue {
  background: blue
}

.green {
  background: green
}

.tall {
  height: 200px
}

.progressBar{
  width: 100%;
  height: 10px;
  background: gray;
  overflow: hidden;
}
.progress{
  background: green;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 1%;
}

</style>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="effectClasses"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['blue', 'tall']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <select v-model="myClass">
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
    <div class="square" :class="myClass"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <label>Class Name</label>
    <input type="text" v-model="customClassName">
    <label>Class Name</label>
    <input type="checkbox" v-model="attachCustomClass">
    <div class="square" :class="customClass"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text">
    <div class="square" :style="{background: 'red'}"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button @click="startProgress">Start Progress</button>
    <div class="progressBar">
      <div class="progress" :style="{width: currentProgress + '%'}"></div>
    </div>
  </div>
</div>
<script>
new Vue({
  el: '#exercise',
  data: {
    attachHighlight: false,
    attachShrink: false,
    myClass: 'red',
    attachCustomClass: false,
    customClassName: 'blue',
    currentProgress: 1
  },
  methods: {
    startEffect: function(event) {
      env = this
      setInterval(function() {
        env.attachShrink    = env.attachHighlight
        env.attachHighlight = !env.attachHighlight
      }, 1000);
    },
    startProgress: function(event) {
      env = this
      setInterval(function() {
        env.currentProgress = env.currentProgress >= 100 ? 0 : env.currentProgress + 10;
      }, 1000);
    }
  },
  computed: {
    effectClasses: function() {
      return {
        highlight: this.attachHighlight,
        shrink: this.attachShrink
      }
    },
    customClass: function() {
      classes = {}
      classes[this.customClassName] = this.attachCustomClass
      return classes
    }
  }
});

</script>